@page "/login"

@layout HeadlessLayout
@inherits LoginPage

<PageTitle>KegiFin - Login</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center pt-5">
                <img
                    src="imgs/Kegifin.png"
                    alt="KegiFin Web - Financial management"
                    width="250"/>
            </div>
            
            <EditForm Model="InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                
                <MudTextField
                    T="string"
                    Label="E-mail"
                    HelperText="Mandatory field"
                    InputType="InputType.Email"
                    For="@(() => InputModel.Email)"
                    @bind-Value="@InputModel.Email" />

                <MudTextField
                    T="string"
                    Label="Password"
                    HelperText="Mandatory field"
                    InputType="InputType.Password"
                    For="@(() => InputModel.Password)"
                    @bind-Value="@InputModel.Password" />
                
                <div class="d-flex mt-5">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" Class="mr-10">
                            Sign In
                        </MudButton>
                        <MudSpacer />
                        <MudButton Href="/register" Variant="Variant.Outlined">
                            Create Account
                        </MudButton>
                    }
                </div>
            </EditForm>
            
        </MudPaper>
    </MudItem>
</MudGrid>
